/* radial-gradient(at 0% 0%, hsla(253, 16%, 7%, 1) 0, transparent 50%),
    radial-gradient(at 50% 0%, hsla(225, 39%, 30%, 1) 0, transparent 50%),
    radial-gradient(at 100% 0%, hsla(339, 49%, 30%, 1) 0, transparent 50%); */


@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

.bodyb {

  background-color: #0f0e13;
  background-image:
    radial-gradient(at 0% 0%, hsla(253, 16%, 7%, 1) 0, transparent 50%),
    radial-gradient(at 50% 0%, rgb(32, 101, 96) 0, transparent 50%),
    radial-gradient(at 100% 0%, rgb(0, 0, 0) 0, transparent 50%);

}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.custom-btn {
  color: #fff;
  width: 100px;
  height: 40px;
  padding: 7px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: rgba(0, 0, 0, 0.245);
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn-16 {
  border: 1px solid #fff;
  box-shadow: 0 0 10px #fff, 0 0 5px #fff inset;
}

.btn-16:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  box-shadow:
    -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}

.btn-16:hover {
  box-shadow: rgba(255, 255, 255, 1) -1px -1px, -2px -2px, rgba(255, 255, 255, 1) -3px -3px, rgba(255, 255, 255, .9) -4px -4px,
    rgba(255, 255, 255, .8) -5px -5px, rgba(255, 255, 255, .7) -6px -6px, rgba(255, 255, 255, .6) -7px -7px, rgba(255, 255, 255, .5) -8px -8px,
    rgba(255, 255, 255, .4) -9px -9px, rgba(255, 255, 255, .3) -10px -10px, rgba(255, 255, 255, .2) -11px -11px, rgba(255, 255, 255, .1) -12px -12px;
}

.btn-16:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}

.btn-16:active {
  top: 2px;
}

.headerText {
  font-size: 72px;
  background: linear-gradient(to right, hsl(157, 100%, 65%), #430eb6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}